<div class="modal" tabindex="-1" role="dialog" id="addModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <h5 class="modal-title">Add Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <form id="addForm" method="post" action="/games">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" id="addName" name="name" type="text" placeholder="Enter Name" />
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select class="form-control" id="addCategory" name="category" multiple="multiple">
                                <% 
                                    var group = [];
                                    category.forEach(function(cate) { 
                                            if(group.includes(cate.group)){
                                            }else{
                                                group.push(cate.group);
                                            }
                                        }); %>

                                <% group.forEach(function(g) { %>
                                <optgroup label="<%=g %>">
                                    <% category.forEach(function(cate) { %>
                                    <% if(cate.group == g) { %>
                                    <option value="<%= JSON.stringify(cate) %>">
                                        <%= cate.name %>
                                    </option>
                                    <% } %>
                                    <% }); %>
                                </optgroup>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Download Link</label>
                            <input class="form-control" id="addDownloadLink" name="downloadLink" type="text"
                                placeholder="Download Link" />
                        </div>
                        <div class="form-group">
                            <label>System Requirements</label>
                            <textarea class="form-control" id="addSystemRequirements" name="systemRequirements"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" id="addDescription" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Seri</label>
                            <select class="form-control" id="addSeri" name="seri">
                                <% seri.forEach(function(sr) { %>
                                <option value="<%= sr.name %>">
                                    <%= sr.name %>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="addAvatar" name="avatar" type="text" />
                        </div>
                    </form>
                    <!-- Image Upload -->
                    <form method="post" action="#" name='photo' id='imageuploadform' enctype="multipart/form-data">
                        <input hidden="true" id="fileupload" type="file" name="image[]" multiple>

                        <div id="divleft">
                            <button id="btnupload" class="btn btn-primary">Upload Image</button>
                        </div>
                        <div class="progress">
                            <div id="uploadPogress" class="progress-bar" role="progressbar" style="width: 0%;"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="result">

                        </div>
                    </form>
                    <!-- End Image Upload -->
                    <button type="button" class="btn btn-primary" id="addSubmit">Add</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/jquery.form.min.js"></script>
<script src="/javascripts/jnoty.js"></script>
<script>

    $('#addSubmit').on('click', () => {
        $('#addForm').submit();
    });

    $('#add').on('click', function () {
        $('#addCategory').multiselect({
            enableClickableOptGroups: true
        });
        CKEDITOR.instances['addSystemRequirements'].setData("<p><strong>CPU:</strong> Core i7 6700</p><p><strong>CPU SPEED:</strong> 2.0 GHz</p><p><strong>RAM:</strong> 16 GB</p><p><strong>OS:</strong> Windows 7/Vista/XP PC (32 or 64 bit)</p><p><strong>VIDEO CARD:</strong> DirectX 9.0c compliant video card with 512 MB of RAM - NVIDIA GeForce 7600 GT & ATI Radeon X1800.</p><p><strong>PIXEL SHADER:</strong> 3.0</p><p><strong>VERTEX SHADER:</strong> 3.0</p><p><strong>SOUND CARD:</strong> Có</p><p><strong>FREE DISK SPACE:</strong> 16 GB</p><p><strong>DEDICATED VIDEO RAM:</strong> 512 MB</p>");
        $('#addModal').modal('show');
    })
    $('#addForm').submit(function () {
        for (instance in CKEDITOR.instances)
            CKEDITOR.instances[instance].updateElement();

        $(this).ajaxSubmit({

            error: function (xhr) {
                alert(JSON.stringify(xhr));
            },

            success: function (response) {
                if (response.success_msg != null) {
                    $.jnoty(response.success_msg, {
                        theme: 'jnoty-success',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
                else {
                    response.errors.forEach(err => {
                        $.jnoty(err.msg, {
                            theme: 'jnoty-danger',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });
                    });

                }
                $table.bootstrapTable('refresh');
            }
        });
        return false;
    });


    // Image Upload
    var count = [];
    var imgData = [];
    $("#btnupload").click(function (e) {

        $("#fileupload").click();
        e.preventDefault();

    });

    $('#fileupload').change(function (e) {

        $("#imageuploadform").submit();
        e.preventDefault();
    });

    $('#imageuploadform').submit(function (e) {
        var formData;
        for (let i = 0; i < $('#fileupload').prop('files').length; i++) {
            formData = new FormData();
            formData.append('image', $('#fileupload').prop('files')[i]);
            $.ajax({
                type: 'POST',
                url: 'https://api.imgur.com/3/image',
                data: formData,
                headers: {
                    "Authorization": "Bearer 59a5e7b42b1dbd98a0d143440fd943a48cd5d12b"
                },
                xhr: function () {
                    var myXhr = $.ajaxSettings.xhr();
                    if (myXhr.upload) {
                        myXhr.upload.addEventListener('progress', (e) => {
                            if (e.lengthComputable) {
                                var max = e.total;
                                var current = e.loaded;
                                var Percentage = (current * 100) / max;
                                count[i] = Percentage;
                                $('#uploadPogress').attr('aria-valuenow', count.reduce(getSum) / (count.length).toFixed(0));
                                $('#uploadPogress').css('width', (count.reduce(getSum) / (count.length)) + '%');
                                $('#uploadPogress').text((count.reduce(getSum) / (count.length)).toFixed(0) + '%');

                            }
                        }, false);
                    }
                    return myXhr;
                },
                cache: false,
                contentType: false,
                processData: false,

                success: function (data) {
                    imgData.push({ link: data.data.link });
                    $('#addAvatar').val(JSON.stringify(imgData));
                    $('#result').append('<div class="img-item" id="uploadedImage' + i + '"><i class="close fa fa-remove" onclick="removeImage(' + i + ')"></i><img src="' + data.data.link + '" width="200px"/></div>');
                    if (count.reduce(getSum) / (count.length).toFixed(0) == 100) {
                        $.jnoty('Upload Images Success !!', {
                            theme: 'jnoty-success',
                            life: 3000,
                            icon: 'fa fa-check-circle',
                            position: 'top-right'
                        });
                    }
                },

                error: function (data) {
                    $.jnoty(data.responseJSON.data.error.message, {
                        theme: 'jnoty-danger',
                        life: 3000,
                        icon: 'fa fa-check-circle',
                        position: 'top-right'
                    });
                }
            });
        }



        e.preventDefault();

    });

    function getSum(total, num) {
        return total + num;
    }

    function removeImage(i) {

        var currentUrl = $('#uploadedImage' + i + ' img').attr("src");
        for (let a = 0; a < imgData.length; a++) {
            if (imgData[a].link == currentUrl) {
                imgData.splice(a, 1);
                $('#addAvatar').val(JSON.stringify(imgData));
                $('#uploadedImage' + i).remove();
            }
        }

    }
</script>