<% include partials/header %>

<div class="col-md-9">
    <div class="row row-category">
        <div class="col-md-9 col-31-col-left" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-3 col-1111-col-left" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-22-col-left" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-other22" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-3 col-1111-col-left" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-6 col-other22" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-211-col-left" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[1].avatar %>')">
            <a href="/detail/<%= game[1]._id %>">
                <div class="cate-item-name">
                    <%= game[1].name %>
                </div>
            </a>
        </div>
    </div>



</div>

<% include partials/footer %>