<% include partials/header %>

<div class="col-md-9">
    <div class="row row-category">
        <div class="col-md-9 col-3-col">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-2-col">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-6 col-2-col">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-2-col">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
    </div>


    <div class="row row-category">
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-6 col-2-col">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
        <div class="col-md-3">
            <img src="/images/game/<%= game[1].avatar %>" width="100%">
        </div>
    </div>
</div>

<% include partials/footer %>