<% include partials/header %>
<div class="row">
    <div class="main-container page__container">
        <div class="page__section">
            <ul class="breadcrumbs breadcrumbs_type5">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__element">Trang chủ</a></li>
                <li class="breadcrumbs__item breadcrumbs__item_active"><span class="breadcrumbs__element" id="cate_name">
                        <%= cate %></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9" style="box-shadow: 0 0px 5px #4D4D4D; border-radius: 4px;">
        <div class="row row-category">
            <div class="col-md-9 col-31-col-left" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-category">
            <div class="col-md-3 col-1111-col-left" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-category">
            <div class="col-md-6 col-22-col-left" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-other22" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-category">
            <div class="col-md-3 col-1111-col-left" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-other22" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
        </div>

        <div class="row row-category">
            <div class="col-md-6 col-211-col-left" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-other" style="background-image: url('/images/game/<%= game[0].avatar %>')">
                <a href="/detail/<%= game[0]._id %>">
                    <div class="cate-item-name">
                        <p>
                            <%= game[0].name %>
                        </p>
                    </div>
                </a>
            </div>
        </div>



    </div>

    <div class="col-md-3">
        <ul id="accordion" class="accordion">
            <li>
                <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Photoshop</a></li>
                    <li><a href="#">HTML</a></li>
                    <li><a href="#">CSS</a></li>
                    <li><a href="#">Maquetacion web</a></li>
                </ul>
            </li>
            <li class="default open">
                <div class="link"><i class="fa fa-code"></i>Desarrollo front-end<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Javascript</a></li>
                    <li><a href="#">jQuery</a></li>
                    <li><a href="#">Frameworks javascript</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-mobile"></i>Diseño responsive<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Tablets</a></li>
                    <li><a href="#">Dispositivos mobiles</a></li>
                    <li><a href="#">Medios de escritorio</a></li>
                    <li><a href="#">Otros dispositivos</a></li>
                </ul>
            </li>
            <li>
                <div class="link"><i class="fa fa-globe"></i>Posicionamiento web<i class="fa fa-chevron-down"></i></div>
                <ul class="submenu">
                    <li><a href="#">Google</a></li>
                    <li><a href="#">Bing</a></li>
                    <li><a href="#">Yahoo</a></li>
                    <li><a href="#">Otros buscadores</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    localStorage.setItem("breadcumbType", 'category');
    localStorage.setItem("breadcumbValue", document.getElementById("cate_name").innerHTML.trim());
    
</script>
<% include partials/footer %>