<% include partials/header %>

<div class="col-md-9">
    <div class="row row-category">
        <div class="col-md-9 col-31-col-left">
            <img src="/images/game/<%= game[2].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[1].avatar %>" >
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-22-col-left">
            <img src="/images/game/<%= game[3].avatar %>" >
        </div>
        <div class="col-md-6 col-other">
            <img src="/images/game/<%= game[4].avatar %>" >
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-3 col-1111-col-left">
            <img src="/images/game/<%= game[5].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[6].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[1].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[7].avatar %>" >
        </div>
    </div>

    <div class="row row-category">
        <div class="col-md-6 col-211-col-left">
            <img src="/images/game/<%= game[2].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[4].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[2].avatar %>" >
        </div>
    </div>


    <div class="row row-category">
        <div class="col-md-3 col-1111-col-left">
            <img src="/images/game/<%= game[5].avatar %>" >
        </div>
        <div class="col-md-6 col-other">
            <img src="/images/game/<%= game[0].avatar %>" >
        </div>
        <div class="col-md-3 col-other">
            <img src="/images/game/<%= game[3].avatar %>" >
        </div>
    </div>
</div>

<% include partials/footer %>