<% include partials/header %>
<div class="row">
  <div class="col-md-3 col-systemRequirements">
    <div>
      <h3>System Requirements</h3>
      <div class="detail-systemRequirements">
      <p><strong>CPU:</strong> Info</p>
      <p><strong>CPU SPEED:</strong> Dual Core 2.0 GHz or equivalent processor</p>
      <p><strong>RAM:</strong> 2 GB</p>
      <p><strong>OS:</strong> Windows 7/Vista/XP PC (32 or 64 bit)</p>
      <p><strong>VIDEO CARD:</strong> DirectX 9.0c compliant video card with 512 MB of RAM - NVIDIA GeForce 7600 GT & ATI Radeon
          X1800.</p>
      <p><strong>PIXEL SHADER:</strong> 3.0</p>
      <p><strong>VERTEX SHADER:</strong> 3.0</p>
      <p><strong>SOUND CARD:</strong> Yes</p>
      <p><strong>FREE DISK SPACE:</strong> 6 GB</p>
      <p><strong>DEDICATED VIDEO RAM:</strong> 512 MB</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-image-slider">
    <section class="vertical-center-4 slider">
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
      <div><img src="/images/game/<%= game.avatar %>" height="20%"></div>
    </section>
    <section class="slider-nav">
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="/images/game/<%= game.avatar %>"></div>
    </section>
  </div>
  <div class="col-md-3">
    <ul id="accordion" class="accordion">
      <li>
        <div class="link"><i class="fa fa-paint-brush"></i>Diseño web<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
          <li><a href="#">Photoshop</a></li>
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">Maquetacion web</a></li>
        </ul>
      </li>
      <li class="default open">
        <div class="link"><i class="fa fa-code"></i>Desarrollo front-end<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
          <li><a href="#">Javascript</a></li>
          <li><a href="#">jQuery</a></li>
          <li><a href="#">Frameworks javascript</a></li>
        </ul>
      </li>
      <li>
        <div class="link"><i class="fa fa-mobile"></i>Diseño responsive<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
          <li><a href="#">Tablets</a></li>
          <li><a href="#">Dispositivos mobiles</a></li>
          <li><a href="#">Medios de escritorio</a></li>
          <li><a href="#">Otros dispositivos</a></li>
        </ul>
      </li>
      <li>
        <div class="link"><i class="fa fa-globe"></i>Posicionamiento web<i class="fa fa-chevron-down"></i></div>
        <ul class="submenu">
          <li><a href="#">Google</a></li>
          <li><a href="#">Bing</a></li>
          <li><a href="#">Yahoo</a></li>
          <li><a href="#">Otros buscadores</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>

<div class="row" style="margin-top:30px;">
  <div class="col-md-9 col-detail-content" >
    <div>
      <div>
        <h3>
          <%= game.name %>
        </h3>
        <p class="time-view">
          <span>
            <i class="fa fa-calendar">
              <%= moment(game.postedDate).format( 'DD-MM-YYYY' ) %></i>
          </span>
          <span class="index-views">
            <i class="fa fa-eye">
              <%= game.views %></i>
          </span>
        </p>
      </div>

      <div>
        <div class="detail-downloadLink">
          <a href="<%= game.downloadLink %>">TẢI XUỐNG</a>
        </div>
        <div class="detail-downloads">
          <%= game.downloads %>
        </div>
        <div class="detail-uploadBy">
          <%= game.uploadBy %> a
        </div>
      </div>

      <div style="clear:both;">
        <%= game.seri %>
      </div>

      <div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean facilisis, neque mattis cursus consectetur, sapien augue condimentum risus, eu ornare mi orci et neque. Aliquam lobortis blandit magna, eu posuere tortor accumsan eu. Suspendisse augue lorem, semper sit amet sollicitudin ac, maximus at quam. Morbi ut mollis ligula. Suspendisse elit diam, porttitor et ipsum a, rutrum tempor nibh. Morbi mattis, enim id pharetra venenatis, lorem tortor dictum urna, quis placerat purus eros at lacus. Suspendisse congue quam id finibus lobortis.

          Integer eu augue sed purus interdum varius nec vitae magna. Nunc eget nisi lectus. Nulla at enim mauris. Praesent sit amet purus et ligula aliquet lobortis. Nulla eu eros finibus, luctus elit in, malesuada arcu. Ut tincidunt justo ligula, a tincidunt est dictum id. Donec sit amet velit neque. Mauris maximus rutrum enim, id ultricies ante commodo quis. Etiam rhoncus mi et eros tristique, ac tristique nulla feugiat. Sed in accumsan odio.
      </div>
    </div>
  </div>
</div>
<% include partials/footer %>