<% include partials/header %>
<div class="row">
    <div class="main-container page__container">
        <div class="page__section">
            <ul class="breadcrumbs breadcrumbs_type5">
                <li class="breadcrumbs__item"><a href="/" class="breadcrumbs__element">Trang chủ</a></li>
                <li class="breadcrumbs__item"><a  class="breadcrumbs__element" id="brc"></a></li>
                <li class="breadcrumbs__item breadcrumbs__item_active"><span class="breadcrumbs__element"><%= game.name %></span></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-md-3 detail-left">
    <div>
      <div class="col-detail-left-top">
        <p><%= game.name %></p>
      </div>
      
      <div class="col-systemRequirement">
        <h3>System Requirements</h3>
      <div class="detail-systemRequirements">
          <%- game.systemRequirements %>
      </div>
      </div>

      <div class="col-detail-left-bottom">
        <a href="<%- game.downloadLink %>"> <button class="btn-hover color-7">Tải Xuống</button></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-image-slider">
    <section class="vertical-center-4 slider">
      <% game.avatar.forEach((g)=>{ %>
        <div><img src="<%= g.link %>" style="min-width: 100%;height: 450px;"></div>
        <% }); %>
    </section>
    <section class="slider-nav">
      <% game.avatar.forEach((g)=>{ %>
        <div><img src="<%= g.link %>" style="min-width: 100%;height: 100px;"></div>
        <% }); %>
    </section>
  </div>
  <div class="col-md-3">
    <% include partials/rightMenu %>
  </div>
</div>

<div class="row" style="margin-top:30px;">
  <div class="col-md-9 col-detail-content" >
    <div>
      <div class="col-detail-content-header">
        <span id="gameId"><%= game._id %></span>
        <h1>
          <%= game.name %>
        </h1>
        <p class="time-view">
          <span>
            <i class="fa fa-calendar">
              <%= moment(game.postedDate).format( 'DD-MM-YYYY' ) %></i>
          </span>
          <span class="index-views">
            <i class="fa fa-eye">
              <%= game.views %> Lượt Xem</i>
          </span>
        </p>
      </div>

      <div style="clear:both; padding: 0 25px 25px 25px;">
        <h3><%= game.seri %></h3>
      </div>  

      <div>
        <div class="detail-downloadLink">
          <a href="<%= game.downloadLink %>">Tải Xuống</a>
        </div>
        <div class="detail-uploadBy">
          Người đăng: <%= game.uploadBy %>
        </div>
        <div class="detail-downloads">
          <%= game.downloads %> Lượt Tải
        </div>
      </div>

      <div style="clear:both;">
        <p class="">
         <span>Thể loại : </span><% game.category.forEach(function(c) { %>
              <a href="/category/<%= c.name %>/1">
                  <%= c.name %>.</a>
          <% }); %>
      </p>
      </div>

      <div class="detail-description">
        <%- game.description %>
      </div>
      <div class="col-detail-content-download">
        <a href="<%= game.downloadLink %>"> <button class="btn-hover color-7">Tải Xuống</button></a>
      </div>
    </div>
  </div>
</div>

<script>
  var breadcumb = localStorage.getItem("breadcumbValue");
  if(breadcumb == ''){
    document.getElementById("brc").parentElement.style.display = "none";
  }
  else {
    document.getElementById("brc").innerHTML = localStorage.getItem("breadcumbValue");
    document.getElementById("brc").setAttribute("href",'/'+localStorage.getItem("breadcumbType")+'/'+localStorage.getItem("breadcumbValue")+'/1');
  }
var id = document.getElementById('gameId').innerHTML;
  $.ajax({
    url: "/countViews/"+id
  }).done(function() {
  })

</script>
<% include partials/footer %>