<% include partials/header %>
<!-- <div class="center">
    <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
    <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
    <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
    <div><img src="/images/game/<%= game.avatar %>" width="600px"></div>
</div> -->

<div class="row">
  <div class="col-md-9">
    <section class="regular slider">
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="http://placehold.it/350x300?text=1"></div>
      <div><img src="http://placehold.it/350x300?text=2"></div>
      <div><img src="http://placehold.it/350x300?text=3"></div>
      <div><img src="http://placehold.it/350x300?text=4"></div>
      <div><img src="http://placehold.it/350x300?text=5"></div>
      <div><img src="http://placehold.it/350x300?text=6"></div>
      <div><img src="http://placehold.it/650x300?text=1-650w"></div>
    </section>
    <section class="slider-nav">
      <div><img src="/images/game/<%= game.avatar %>"></div>
      <div><img src="http://placehold.it/350x300?text=1"></div>
      <div><img src="http://placehold.it/350x300?text=2"></div>
      <div><img src="http://placehold.it/350x300?text=3"></div>
      <div><img src="http://placehold.it/350x300?text=4"></div>
      <div><img src="http://placehold.it/350x300?text=5"></div>
      <div><img src="http://placehold.it/350x300?text=6"></div>
      <div><img src="http://placehold.it/650x300?text=1-650w"></div>
    </section>
  </div>
</div>
<% include partials/footer %>