<% include partials/header %>
<section id="top-Game" data-section-menu="Top Game">
    <div class="row row-index">
        <div class="col-md-12">
            <h1>Top Game</h1>
        </div>
        <% game.forEach(function(g) { %>
        <div class="col-md-4 col-lg-3 col-sm-6 col-index">
            <div class="index-item">
                <a href="/detail/<%= g._id %>">
                    <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <p class="top-Game-Name"><a href="/detail/<%= g._id %>">
                        <%= g.name %></a></p>
                <p class="top-Game-Category"><a href="/category/<%= g.category %>">
                        <%= g.category %></a></p>
                <p class="time-view">
                    <span>
                        <i class="fa fa-calendar">
                            <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                    </span>
                    <span class="index-views">
                        <i class="fa fa-eye">
                            <%= g.views %></i>
                    </span>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<section id="top-Seri">
        <div class="row row-index">
                <div class="col-md-12">
                    <h1>Top Game</h1>
                </div>
                <% game.forEach(function(g) { %>
                <div class="col-md-4 col-lg-3 col-sm-6 col-index">
                    <div class="index-item">
                        <a href="/detail/<%= g._id %>">
                            <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <p class="top-Game-Name"><a href="/detail/<%= g._id %>">
                                <%= g.name %></a></p>
                        <p class="top-Game-Category"><a href="/category/<%= g.category %>">
                                <%= g.category %></a></p>
                        <p class="time-view">
                            <span>
                                <i class="fa fa-calendar">
                                    <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                            </span>
                            <span class="index-views">
                                <i class="fa fa-eye">
                                    <%= g.views %></i>
                            </span>
                        </p>
                    </div>
                </div>
                <% }); %>
            </div>
</section>

<section id="action">
        <div class="row row-index">
                <div class="col-md-12">
                    <h1>Top Game</h1>
                </div>
                <% game.forEach(function(g) { %>
                <div class="col-md-4 col-lg-3 col-sm-6 col-index">
                    <div class="index-item">
                        <a href="/detail/<%= g._id %>">
                            <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </a>
                        <p class="top-Game-Name"><a href="/detail/<%= g._id %>">
                                <%= g.name %></a></p>
                        <p class="top-Game-Category"><a href="/category/<%= g.category %>">
                                <%= g.category %></a></p>
                        <p class="time-view">
                            <span>
                                <i class="fa fa-calendar">
                                    <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                            </span>
                            <span class="index-views">
                                <i class="fa fa-eye">
                                    <%= g.views %></i>
                            </span>
                        </p>
                    </div>
                </div>
                <% }); %>
            </div>
</section>
<% include partials/footer %>