<% include partials/header %>
<div class="right-menu-custom">
    <ul class="list-group" id="myScrollspy">
        <div class="list-group-it"><span class="list-group-left">Mới Nhất</span><a class="list-group-right list-group-item"
                href="#newest-Game"></a></div>
        <div class="list-group-it"><span class="list-group-left">Tải Nhiều Nhất</span><a class="list-group-right list-group-item"
                href="#top-Download"></a></div>
        <div class="list-group-it"><span class="list-group-left">Xem Nhiều Nhất</span><a class="list-group-right list-group-item"
                href="#top-View"></a></div>
    </ul>
</div>
<section>
    <div class="row row-index">
        <div class="col-md-12">
            <h1 id="newest-Game">&nbsp;</h1>
        </div>
        <div class="col-md-12">
            <h1 class="title">Mới Nhất</h1>
        </div>
        <% newestGame.forEach(function(g) { %>
        <div class="col-md-4 col-lg-3 col-sm-6 col-index">
            <div class="index-item">
                <a href="/detail/<%= g._id %>">
                    <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <p class="Game-Name"><a href="/detail/<%= g._id %>">
                        <%= g.name %></a></p>
                <p class="Game-Category">
                    <% g.category.forEach(function(c) { %>
                        <a href="/category/<%= c %>/1">
                            <%= c %>.</a>
                    <% }); %>
                </p>
                <p class="time-view">
                    <span>
                        <i class="fa fa-calendar">
                            <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                    </span>
                    <span class="index-views">
                        <i class="fa fa-eye">
                            <%= g.views %></i>
                    </span>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<section>
    <div class="row row-index">
        <div class="col-md-12">
            <h1 id="top-Download">&nbsp;</h1>
        </div>
        <div class="col-md-12">
            <h1 class="title">Tải Nhiều Nhất</h1>
        </div>
        <% topDownloadGame.forEach(function(g) { %>
        <div class="col-md-4 col-lg-3 col-sm-6 col-index">
            <div class="index-item">
                <a href="/detail/<%= g._id %>">
                    <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <p class="Game-Name"><a href="/detail/<%= g._id %>">
                        <%= g.name %></a></p>
                <p class="Game-Category"><a href="/category/<%= g.category %>/1">
                        <%= g.category %></a></p>
                <p class="time-view">
                    <span>
                        <i class="fa fa-calendar">
                            <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                    </span>
                    <span class="index-views">
                        <i class="fa fa-eye">
                            <%= g.views %></i>
                    </span>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</section>

<section>
    <div class="row row-index">
        <div class="col-md-12">
            <h1 id="top-View">&nbsp;</h1>
        </div>
        <div class="col-md-12">
            <h1 class="title">Action</h1>
        </div>
        <% topViewGame.forEach(function(g) { %>
        <div class="col-md-4 col-lg-3 col-sm-6 col-index">
            <div class="index-item">
                <a href="/detail/<%= g._id %>">
                    <div class='box' style="background-image: url('/images/game/<%= g.avatar %>')">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <p class="Game-Name"><a href="/detail/<%= g._id %>">
                        <%= g.name %></a></p>
                <p class="Game-Category"><a href="/category/<%= g.category %>/1">
                        <%= g.category %></a></p>
                <p class="time-view">
                    <span>
                        <i class="fa fa-calendar">
                            <%= moment(g.postedDate).format( 'DD-MM-YYYY' ) %></i>
                    </span>
                    <span class="index-views">
                        <i class="fa fa-eye">
                            <%= g.views %></i>
                    </span>
                </p>
            </div>
        </div>
        <% }); %>
    </div>
</section>
<script>
    $(".list-group-it").hover(
        function () {
            $(this).find("span").addClass("color-blue");
        }, function () {
            $(this).find("span").removeClass("color-blue");
        }
    );
    localStorage.setItem("breadcumbType", '');
    localStorage.setItem("breadcumbValue", '');
</script>
<% include partials/footer %>